<script lang="ts">
	let hours = 0;
	let minutes = 0;
	let seconds = 0;

	const inputFocus = (e: { currentTarget: HTMLInputElement }) => {
		e.currentTarget.select();
	};
</script>

<svelte:head>
	<title>Set Timer</title>
</svelte:head>

<div class="flex items-center h-screen p-4">
	<form class="container max-w-md" action="/timer" method="get">
		<h1 class="text-2xl text-center">Countdown Timer</h1>
		<div class="grid grid-cols-3 gap-4 my-4">
			<div class="flex flex-col text-center">
				<label for="hours">Hours</label>
				<input
					class="border border-gray-300"
					type="number"
					name="hours"
					id="hours"
					bind:value={hours}
					on:click={inputFocus}
					min="0"
				/>
			</div>

			<div class="flex flex-col text-center">
				<label for="minutes">Minutes</label>
				<input
					class="border border-gray-300"
					type="number"
					name="minutes"
					id="minutes"
					bind:value={minutes}
					min="0"
					max="60"
					on:click={inputFocus}
				/>
			</div>

			<div class="flex flex-col text-center">
				<label for="seconds">Seconds</label>
				<input
					class="border border-gray-300"
					type="number"
					name="seconds"
					id="seconds"
					bind:value={seconds}
					min="0"
					max="60"
					on:click={inputFocus}
				/>
			</div>
		</div>

		<div class="grid grid-cols-2 gap-4 my-4">
			<button type="reset" class="p-4 bg-gray-200 rounded-full">Cancel</button>
			<button type="submit" class="p-4 rounded-full bg-primary">Start</button>
		</div>
	</form>
</div>
