<script>
	/** @type {import('./$types').PageData} */
	export let data;

	import { tweened } from 'svelte/motion';

	let timerActive = true;

	let time = new Date();
	$: timeFormatted = time.getHours() + ':' + time.getMinutes();

	const original = data.hours * 60 * 60 + data.minutes * 60 + data.seconds;

	let remaining = tweened(original, { duration: 1000 });

	$: minutes = Math.floor($remaining / 60)
		.toString()
		.padStart(2, '0');
	$: seconds = Math.floor($remaining - parseInt(minutes) * 60)
		.toString()
		.padStart(2, '0');

	$: remaining_string = $remaining > 0 ? minutes + ':' + seconds : 'DONE';

	let strokeWidth = 10;
	let radius = 200;
	let circumference = radius * 2 * Math.PI;
	let size = radius * 2 + strokeWidth * 2;
	let viewBox = `0 0 ${size} ${size}`;

	$: offset = circumference - ($remaining / original) * circumference;

	const start = () => {
		let timer = setInterval(() => {
			time = new Date();

			if (timerActive) {
				if ($remaining > 0) {
					$remaining--;
				} else {
					clearInterval(timer);
				}
			}
		}, 1000);
	};

	start();
</script>

<div class:bg-primary={$remaining <= 0} class="grid h-screen grid-cols-2 grid-rows-3 gap-2 p-4">
	<a href="/" class="col-start-1 row-start-1 font-bold text-primary">&lsaquo;</a>
	<div class="col-start-2 row-start-1 text-right">{timeFormatted}</div>

	<div class="col-span-2 col-start-1 row-start-2 text-center place-self-center">
		<div class="text-sm text-gray-400">
			{data.hours.toString().padStart(2, '0')}:{data.minutes
				.toString()
				.padStart(2, '0')}:{data.seconds.toString().padStart(2, '0')}
		</div>
		<div class="text-2xl">
			{remaining_string}
		</div>
	</div>

	<div class="self-end col-start-1 row-start-3">
		<button class="p-4 font-bold bg-gray-200 rounded-full aspect-square">×</button>
		<a
			href="/"
			class="inline-block p-4 font-bold text-center bg-gray-200 rounded-full aspect-square">×</a
		>
	</div>
	<div class="col-start-2 row-start-3 place-self-end">
		{#if $remaining > 0}
			<button
				on:click={() => (timerActive = !timerActive)}
				class="p-4 transition-all rounded-full bg-primary aspect-square"
				>{#if timerActive}⏸{:else}⏵{/if}</button
			>
		{:else}
			<button
				on:click={() => {
					$remaining = original;
					timerActive = true;
					start();
				}}
				class="p-4 transition-all bg-gray-200 rounded-full aspect-square">↺</button
			>
		{/if}
	</div>

	<svg class="max-h-full col-span-2 col-start-1 row-span-full place-self-center -z-10" {viewBox}>
		<circle
			class="stroke-gray-200"
			stroke-width={strokeWidth}
			fill="transparent"
			r={radius}
			cx={radius + strokeWidth}
			cy={radius + strokeWidth}
			stroke-dasharray={circumference}
			stroke-linecap="round"
		/>
		<circle
			class="stroke-primary {$remaining < 0 ? 'hidden' : ''}"
			stroke-width={strokeWidth}
			fill="transparent"
			r={radius}
			cx={radius + strokeWidth}
			cy={radius + strokeWidth}
			stroke-dasharray={circumference}
			stroke-dashoffset={offset}
			stroke-linecap="round"
		/>
	</svg>
</div>

<!-- <progress class="block w-full" value={$remaining / original} /> -->

<pre
	class="absolute hidden p-2 text-sm text-gray-400 bg-yellow-100 border-2 border-yellow-200 opacity-50 bottom-4 left-4 w-96">
Remaining: {$remaining}
Offset: {offset}
</pre>
